.left-arrow {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  left: -30px;
  color: white;
}
.right-arrow {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  right: -30px;
  color: white;
}
.content {
  font: normal normal normal 15px/22px Montserrat;
  color: white;
}
.button {
  color: white;
  outline: none;
  width: 200px;
  height: 40px;
  background-color: #141416;
  border-radius: 5px;
  border: 1px solid white;
  font: normal normal normal 18px/22px Montserrat;
}
.filter {
  width: 150px;
  height: 47px;
  background: #007bff;
  color: white;
  border-radius: 25px;
  border: none;
}
.collapse h5 {
  margin-top: 10px;
  margin-bottom: 15px;
  font: normal normal 900 14px/22px Montserrat;
  color: #767d8f;
}
.range {
  color: white;
  outline: none;
  height: 40px;
  background-color: #141416;
  border-radius: 5px;
  border: 1px solid white;
  font: normal normal normal 18px/22px Montserrat;
}
.max {
  position: absolute;
  right: 0;
  font-size: 10px;
  color: #767d8f;
  top: -20px;
}
.explore {
  outline: none;
  width: 250px;
  height: 50px;
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  background-color: #141416;
}
.explore:hover {
  background-color: #007bfd;
}
