body {
  background-color: #141416;
  font-family: Montserrat;
}
.App {
  text-align: center;
}
.container {
  max-width: 1120px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.wallet-btn {
  width: 200px;
  height: 60px;
  background-color: #141416;
  border: 1px solid #dddddd;
  border-radius: 40px;
  outline: none;
  border: 1px solid white;
  font: normal normal normal 18px/22px Montserrat;
}
.headerlist {
  line-height: 40px;
  font: Montserrat;
  color: white;
}
.headerlist:hover {
  color: grey;
}
.wallet-btn:hover {
  background-color: #141416;
}
.search-box {
  display: inline-block;
  position: relative;
  line-height: 55px;
}
.search-box input[type="text"] {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 0px;
  height: 22px;
  padding: 5px 40px 5px 10px;
  border: none;
  color: white;
  box-sizing: border-box;
  background-color: #141416;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}
.search-box input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid white;
}
.search-box input[type="text"]:focus,
.search-box input[type="text"]:not(:placeholder-shown) {
  width: 225px;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
.search-box input[type="text"]:focus + span,
.search-box input[type="text"]:not(:placeholder-shown) + span {
  bottom: 13px;
  right: 10px;
  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}
.search-box input[type="text"]:focus + span:after,
.search-box input[type="text"]:not(:placeholder-shown) + span:after {
  top: 0;
  right: 10px;
  opacity: 1;
  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms,
    opacity 300ms ease 1100ms;
}
.search-box span {
  transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}
.search-box span:after {
  transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}
.searchicon {
  font-size: larger;
}
.description {
  margin-top: 60px;
  color: #dddddd;
  font: normal normal normal 18px/22px Montserrat;
}
.maintitle {
  color: #dddddd;
  font: normal normal 900 36px/44px Montserrat;
}
.explore-btn {
  width: 300px;
  height: 60px;
  border-radius: 30px;
  border-color: #dddddd;
  color: white;
  outline: none;
  font: normal normal normal 18px/22px Montserrat;
}
.trending {
  text-align: left;
  font: normal normal bold 36px/44px Montserrat;
  letter-spacing: 0px;
  color: #dddddd;
  opacity: 1;
}
.navitem {
  font: normal normal normal 24px/29px Montserrat;
}
.seemore {
  font: normal normal normal 15px/22px Montserrat;
  letter-spacing: 0px;
  color: #767d8f;
  opacity: 1;
  text-decoration: none;
}
.seemore:hover,
seemore:focus {
  color: white;
  text-decoration: none;
}
.card {
  border-radius: 40px;
  padding: 10px;
  background-color: #141416;
  position: relative;
}
.video-preview {
  text-align: center;
  max-width: 640px;
  max-height: 800px;
  border-radius: 40px;
}
.audio {
  position: absolute;
  left: 30px;
  width: 90%;
  bottom: 25px;
}
.followbtn {
  outline: none;
  border: none;
  color: white;
  width: 150px;
  height: 60px;
  width: 150px;
  height: 60px;
  background: #3772ff 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 1;
}
.followbtn-toggle {
  background: #f05454 0% 0% no-repeat padding-box;
}
.job {
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #767d8f;
  opacity: 1;
}
.avatar-text {
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #dddddd;
  opacity: 1;
}
.eth-card {
  /* max-width: 439px;
  max-height: 441px; */
  margin-top: 30px;
  border-radius: 15px;
  background: #23262f 0% 0% no-repeat padding-box;
}
.eth-net {
  margin-top: 17px;
  margin-bottom: 33px;
}
.eth-text {
  font: normal normal normal 24px/29px Montserrat;
  color: #dddddd;
  margin: 0;
}
.currentbid {
  margin: 0;
  font: normal normal normal 24px/29px Montserrat;
  color: #767d8f;
}
.price {
  font: normal normal 900 60px/73px Montserrat;
  letter-spacing: 0px;
  text-align: right;
  color: #ffffff;
  margin: 0;
}
.price-usd {
  font: normal normal normal 24px/29px Montserrat;
  text-align: right;
  letter-spacing: 0px;
  color: #767d8f;
}
.eth-container {
  max-width: 80%;
}
.buyprice {
  margin-top: 35px;
  font: normal normal normal 12px/15px Montserrat;
  color: #dddddd;
}
.buy-eth {
  font: normal normal 900 32px/39px Montserrat;
  color: #ffffff;
}
.arrow {
  width: 40px;
  height: 50px;
  cursor: pointer;
}
.time {
  font: normal normal normal 18px/22px Montserrat;
  color: #dddddd;
}
.time span {
  font: normal normal normal 12px/15px Montserrat;
  color: #dddddd;
}
.undertime {
  padding-left: 10px;
}
.favor {
  font: normal normal normal 24px/29px Montserrat;
  color: #dddddd;
}
.buybtn {
  width: 355px;
  height: 60px;
  border-radius: 30px;
  font-family: 24px;
  color: white;
}
.bidbtn {
  width: 350px;
  height: 60px;
  border: 1px solid white;
  border-radius: 30px;
  font-family: 24px;
  color: white;
}
.subtitle {
  font: normal normal bold 40px/73px Montserrat;
  color: #dddddd;
}
.subdescription {
  font: normal normal normal 20px/29px Montserrat;
  color: #dddddd;
}
.popular {
  text-align: left;
  font: normal normal 900 60px/110px Montserrat;
  color: #767d8f;
}
.creator {
  text-align: left;
  font: normal normal normal 32px/52px Montserrat;
  color: #ffffff;
}
.popular-body {
  background: #23262f 0% 0% no-repeat padding-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
